
# General Files

.DS_Store

# Gradle files

.gradle/
.gradletasknamecache
build/

# IntelliJ

*.iml
*.ipr
*.iws
.idea/

# Android Studio

local.properties

# Build files

/app/*.apk
/app/manifest*.txt
